body {
  background-color: rgb(242, 229, 192);
}

.title, .message {
  text-align: center;
}

.tile { 
  height: 70px;
  width: 70px;
  border: solid black 1px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 580px;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 15%;
  left: 34%;
  background-color: rgb(120, 130, 223);
  border: 2px solid black;
  border-radius: 2%;
}

.start, .form, .reset, .horizontal-number-container {
  display: flex;
  justify-content: center;
}

.form {
  position: absolute;
  top: 75%;
  left: 40%;
}

.shot {
  height: 70px;
  width: 70px;
}

.top-line {
  padding: 10px;
}

.number {
  width: 70px;
  text-align: center;
}

.vert-number {
  height: 70px;
  align-content: center;
}

.vertical-number-container {
  position: absolute;
  left: 33%;
  top: 17.5%;
}
