.tile { 
  border: solid black 1px;
  border-radius: 5%;
  background-color: rgb(146, 222, 237);
}

.start, .form, .horizontal-number-container {
  display: flex;
  justify-content: center;
}

.top-line {
  padding: 10px;
}

.end {
  text-align: center;
}
